<div class="container">
  <app-game-control (scoreStart)="showScore($event)" [score]="appScore"></app-game-control>
  <p>{{ appScore }} </p>
  <hr>
  <app-server-form (createServer)="onAddServer($event)" (createBlueprint)="onAddBlueprint($event)"></app-server-form>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let serverItem of serverElements" [element]="serverItem">
        <p #contentParagraph>
          <strong *ngIf="serverItem.type === 'server'" style="color: red">{{ serverItem.content }}</strong>
          <em *ngIf="serverItem.type === 'blueprint'">{{ serverItem.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
